/nbproject/private/
/logs/
/resources/images/notices/
/resources/images/articles/
/resources/images/news/
/resources/images/products/
/resources/uploads/
/var/www/acemotos/application/_base/lib/database/ConfigConnection.php
